body {
  background-image: url(images/forside_baggrund.png);
}
.forside_billede {
  width: 416px;
  height: 262px;
}
.forside_copy {
  font-size: 1.8rem;
  margin-left: 20px;
  margin-block: var(--space-m);
}

.flex_forside {
  display: flex;
  background-color: white;
  box-shadow: 5px 5px 20px 1px grey;
  margin-top: var(--space-l);
  margin-bottom: var(--space-s);
  padding: var(--space-s);
}

/*-------------hvad er ukirke?---------------*/
.intro_video {
  max-width: 100%;
  border: solid 20px var(--green);
}

.introduktion_indhold {
  background-color: var(--blue);
  color: white;
  padding: 1px;
}
.introduktion_indhold p,
.introduktion_indhold h2,
.manifest_sort,
.manifest_hvid,
.events_2 {
  margin: 20px;
  display: grid;
}

.events_2 p {
  margin-block: 10px;
}
.events_2 h1 {
  font-size: 3.5rem;
}
.quote {
  margin: 20px;
  display: flex;
  place-content: center;
}
.laes_mere_om {
  background-color: var(--lilla);
  color: white;
  grid-column: 1;
  grid-row: 1;
  place-self: end start;
  margin-left: 20px;
  margin-bottom: 4rem;
  margin-top: 50px;
  width: 150px;
  padding: 10px;
  border: solid 1px white;
}

.manifest_border,
.events {
  border: solid 2px black;
  margin: 20px;
}

@media (min-width: 800px) {
  .forside_billede {
    width: 579px;
    height: 365px;
  }
  .forside_copy {
    font-size: 2.5rem;
    margin-top: 0;
  }

  .flex_forside {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    margin-top: 20px;
  }

  .content1-grid {
    display: flex;
  }

  .intro_video {
    order: 1;
  }
  .grid_2 {
    display: flex;
  }
}
