* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  margin: 30px;
}
header .logo {
  background-image: url(/images/logo2.png);
  background-size: cover;
}

.banner {
  padding: 2rem;
  margin-top: 10px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between; /* når der ikke er plads mere - rykker den ned under */
}

.main-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

/* burgermenu */
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;

  display: none; /* Skjul knappen som standard */
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block; /* Vis knappen, når viewporten maksimalt er 600px */
  }

  .main-menu {
    display: contents; /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 600px, men behold børnene, så disse deltager i flex-kontekten */
  }

  .main-menu ul {
    display: none; /* Fjern menu-listen som standard */
  }

  .main-menu.shown ul {
    /* Vis menu-listen, når klassen ".shown" er til stede */
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
}
