* {
  all: unset;
  display: revert;
  cursor: revert;
  /*overstående nustiller alle HTML regler for H1, h2 mm.*/
  box-sizing: border-box;
}
html {
  /* farve variabler */
  --blue: #32396f;
  --green: #b3bf58;
  --orange: #e2a83b;
  --lilla: #9c6b98;
  --yellow: #f4dc3e;
  --white: #ffffff;
  --beige: #e0d9d1;
  --pink: #df4250;
  --brown: #a97a4d;
  --lyserod: #e18ca4;

  /* gap variabler */
  --space-s: 1rem;
  --space-m: 2rem;
  --space-l: 4rem;
  --space-xl: 8rem;
}

/* font-strørrelser */
h1 {
  font-size: 5rem;
  font-family: dincondensed;
}
h2 {
  font-size: 2.5rem;
  font-family: dincondensed;
}

h3 {
  font-size: 1.5rem;
  font-family: dincondensed;
}
p {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5rem;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

/* FOOTER */

footer {
  background-color: #e0d9d1;
  padding: 2rem 2rem 1rem 2rem;
}
.grid_footer {
  display: flex;
  flex-flow: wrap;
}
.adresse {
  margin-bottom: 2rem;
}
.tider {
  margin-bottom: 2rem;
}

.ukirke_footer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.vertikal {
  writing-mode: sideways-lr;
  font-size: 3rem;
  font-family: dincondensed;
  margin: 0;
  display: grid;
  grid-column: 1;
}

/* fonte */
@font-face {
  font-family: lemonmilk;
  src: url(/fonts/lemonmilk-medium-webfont.woff2);
}
@font-face {
  font-family: dincondensed;
  src: url(/fonts/din-bold-webfont.woff2);
}

/* header */
.banner {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-flow: wrap;
}

header > div {
  height: 100px;
  aspect-ratio: 1012/549;
}

.main-menu {
  font-family: dincondensed;
}

.main-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  transition: background-color 0.5s ease;
}

.main-menu a:hover {
  border-bottom: 5px solid orange;
}

/* burgermenu */
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;

  display: none; /* Skjul knappen som standard */
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block; /* Vis knappen, når viewporten maksimalt er 600px */
  }

  .main-menu {
    display: contents; /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 600px, men behold børnene, så disse deltager i flex-kontekten */
  }

  .main-menu ul {
    display: none; /* Fjern menu-listen som standard */
  }

  .main-menu.shown ul {
    /* Vis menu-listen, når klassen ".shown" er til stede */
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
}

.facebook {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  place-content: center;
  background-color: blue;
  color: white;
  cursor: pointer;
  padding-top: 1rem;
  font-weight: bold;
  text-align: center;
  /* max-width: fit-content; */
  justify-content: center;
  box-shadow: 5px 5px 20px 1px grey;
}

.facebook:hover {
  border: 3px solid white;
}

/*----------------------FOOTER----------------------*/
.her {
  font-weight: bold;
  margin-top: 2rem;
  text-align: center;
  cursor: pointer;
  margin-bottom: 3rem;
  
}
.her p:hover {
  border-bottom: 3px solid white;
}
.ikoner {
  display: flex;
  margin-bottom: 1rem;
}
.vesterbro {
  text-decoration: underline;
}

/* Desktop version */

@media (min-width: 800px) {
  img {
    width: 100%;
  }

  .tern_header1 {
    width: 35%;
  }
  .tern_header2 {
    width: 35%;
  }
  .grid1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .kreativ_tekst {
    grid-column: 1 / 2;
  }

  .grid1 figure {
    grid-column: 4 / 5;
  }

  .to {
    width: 60%;
  }
  .tekst_2 {
    width: 70%;
  }
  .green_grid {
    justify-content: center;
  }
  /* .h2_green {
    text-align: center;
  } */

  /*---------------FOOTER desktop--------------*/
  @media (min-width: 800px) {
    .grid_footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 3rem;
    }
    .adresse {
      grid-column: 2;
      padding-right: 3rem;
    }

    .foelg_os {
      grid-column: 3;
    }

    .vesterbro {
      padding-left: 3rem;
    }
  }

  /*-----------------FOOTER--------------------*/

  .grid_footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem;
  }
  .adresse {
    display: grid;
    grid-column: 2;
    padding-right: 3rem;
  }

  .foelg_os {
    grid-column: 3;
  }

  .vesterbro {
    padding-left: 3rem;
  }
}
