* {
  all: unset;
  display: revert;
  cursor: revert;
  /*overstående nustiller alle HTML regler for H1, h2 mm.*/
  box-sizing: border-box;
}
html {
  /* farve variabler */
  --titel-color: #32396f;
  /* gap variabler */
  --space-s: 1rem;
  --space-m: 2rem;
  --space-l: 4rem;
  --space-xl: 8rem;
}
body {
  background-image: url(/images/baggrund_galleri2.png);
}
h1 {
  font-size: 5rem;
  font-family: dincondensed;
}
h2 {
  font-size: 2.5rem;
  font-family: dincondensed;
}

h3 {
  font-size: 2rem;
  font-family: dincondensed;
}
p {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #e0d9d1;
}

/* fonte */
@font-face {
  font-family: lemonmilk;
  src: url(/fonts/lemonmilk-medium-webfont.woff2);
}
@font-face {
  font-family: dincondensed;
  src: url(/fonts/din-bold-webfont.woff2);
}

/* header */
.banner {
  padding: 2rem;
  margin-top: 10px;
  display: flex;
  flex-flow: wrap;
  justify-content: right;
  position: sticky;
}
header .logo {
  background-image: url(/images/logo2.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 60px;
}
.main-menu {
  font-family: dincondensed;
}

.main-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.main-menu a:hover {
  border-bottom: 5px solid orange;
}

/* burgermenu */
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;

  display: none; /* Skjul knappen som standard */
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block; /* Vis knappen, når viewporten maksimalt er 600px */
  }

  .main-menu {
    display: contents; /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 600px, men behold børnene, så disse deltager i flex-kontekten */
  }

  .main-menu ul {
    display: none; /* Fjern menu-listen som standard */
  }

  .main-menu.shown ul {
    /* Vis menu-listen, når klassen ".shown" er til stede */
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
}
