/* .intro_video {
} */
h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.intro_video {
  max-width: 100%;
}
.introduktion_indhold {
  background-color: white;
  box-shadow: 5px 5px 20px 1px grey;
  margin-inline: 0.5rem;
  padding: 2rem;
}

/*---------------MANIFEST-------------------*/

.container2-1 {
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  grid-template-rows: 3rem 3rem 1fr;
}

.container1 {
  background-color: white;
  box-shadow: 5px 3px 20px 1px grey;
  grid-column: 1/6;
  grid-row: 2/6;
  margin: 0.5rem;
}

.manifest_indhold1 {
  grid-column: 2;
  grid-row: 3/4;
  padding-top: 6rem;
  padding-bottom: 3rem;
  line-height: 1.5rem;
}

.manifest_titel {
  grid-column: 1;
  grid-row: 3;
  place-self: start;
  margin-top: 7rem;
  writing-mode: sideways-lr;
  margin-left: 2rem;
}

.box1 {
  background-color: #454c81;
  box-shadow: 5px 5px 20px 1px grey;
  grid-column: 2/3;
  grid-row: 1 / span 2;
  padding-top: 4rem;
  margin-bottom: -4rem;

  text-align: center;
  z-index: 1;
  color: white;
}

/*------------*/

.container2-2 {
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  grid-template-rows: 3rem 3rem 1fr;
}

.container2 {
  background-color: white;
  box-shadow: 5px 3px 20px 1px grey;
  grid-column: 1/6;
  grid-row: 2/6;
  margin: 0.5rem;
}

.manifest_indhold2 {
  grid-column: 2;
  grid-row: 3/4;
  padding-top: 6rem;
  padding-bottom: 3rem;
  line-height: 1.5rem;
}

.manifest_titel2 {
  grid-column: 1;
  grid-row: 3;
  place-self: start;
  margin-top: 7rem;
  writing-mode: sideways-lr;
}

.box2 {
  background-color: #a27b54;
  box-shadow: 5px 5px 20px 1px grey;
  grid-column: 2/3;
  grid-row: 1 / span 2;
  padding-top: 4rem;
  margin-bottom: -4rem;

  text-align: center;
  z-index: 1;
  color: white;
}

/*------------*/

.container2-3 {
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  grid-template-rows: 3rem 3rem 1fr;
}

.container3 {
  background-color: white;
  box-shadow: 5px 3px 20px 1px grey;
  grid-column: 1/6;
  grid-row: 2/6;
  margin: 0.5rem;
}

.manifest_indhold3 {
  grid-column: 2;
  grid-row: 3/4;
  padding-top: 6rem;
  padding-bottom: 3rem;
  line-height: 1.5rem;
}

.manifest_titel3 {
  grid-column: 1;
  grid-row: 3;
  place-self: start;
  margin-top: 7rem;
  writing-mode: sideways-lr;
}

.box3 {
  background-color: #b3bf58;
  box-shadow: 5px 5px 20px 1px grey;
  grid-column: 2/3;
  grid-row: 1 / span 2;
  padding-top: 4rem;
  margin-bottom: -4rem;

  text-align: center;
  z-index: 1;
  color: white;
}
/*------------*/

.container2-4 {
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  grid-template-rows: 3rem 3rem 1fr;
}

.container4 {
  background-color: white;
  box-shadow: 5px 3px 20px 1px grey;
  grid-column: 1/6;
  grid-row: 2/6;
  margin: 0.5rem;
}

.manifest_indhold4 {
  grid-column: 2;
  grid-row: 3/4;
  padding-top: 6rem;
  padding-bottom: 3rem;
  line-height: 1.5rem;
}

.manifest_titel4 {
  grid-column: 1;
  grid-row: 3;
  place-self: start;
  margin-top: 7rem;
  writing-mode: sideways-lr;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.box4 {
  background-color: #e2a83b;
  box-shadow: 5px 5px 20px 1px grey;
  grid-column: 2/3;
  grid-row: 1 / span 2;
  padding-top: 4rem;
  margin-bottom: -4rem;

  text-align: center;
  z-index: 1;
  color: white;
}
/*------------*/

.container2-5 {
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  grid-template-rows: 3rem 3rem 1fr;
}

.container5 {
  background-color: white;
  box-shadow: 5px 3px 20px 1px grey;
  grid-column: 1/6;
  grid-row: 2/6;
  margin: 0.5rem;
}

.manifest_indhold5 {
  grid-column: 2;
  grid-row: 3/4;
  padding-top: 6rem;
  padding-bottom: 3rem;
  line-height: 1.5rem;
}

.manifest_titel5 {
  grid-column: 1;
  grid-row: 3;
  place-self: start;
  margin-top: 7rem;
  writing-mode: sideways-lr;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.box5 {
  background-color: #ce4e54;
  box-shadow: 5px 5px 20px 1px grey;
  grid-column: 2/3;
  grid-row: 1 / span 2;
  padding-top: 4rem;
  margin-bottom: -4rem;

  text-align: center;
  z-index: 1;
  color: white;
}
/*------------*/

/*--------------------BLIV FRIVILLIG-------------------*/

.content3-grid {
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  grid-template-rows: 1fr 1fr;
}

.frivillig_indhold {
  background-color: #454c81;
  box-shadow: 5px 5px 20px 1px grey;
  color: white;
  line-height: 1.5rem;
  padding: 3rem;

  grid-column: 1/4;
  grid-row: 1;
}
.frivillig_billede {
  max-width: 100%;
  padding-top: 3rem;
  grid-column: 2;
  grid-row: 2;
}

.sammenhold_titel {
  grid-column: 3;
  grid-row: 2;
  place-self: start;
  margin-top: 7rem;
  writing-mode: sideways-rl;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*--------------------AKTIVITETER-------------------*/
.aktiviteter_indhold {
  background-color: #b3bf58;
  box-shadow: 5px 5px 20px 1px grey;
  color: white;
  line-height: 1.5rem;

  padding: 3rem;
  margin-block: 3rem;
}

.frivillig_billede {
  max-width: 100%;
  padding-top: 3rem;
}

/*--------------------BLIV VIGET I UKIRKE-------------------*/
.vielse_indhold {
  background-color: #ebaf3d;
  box-shadow: 5px 5px 20px 1px grey;
  color: white;
  line-height: 1.5rem;

  padding: 3rem;
  margin-block: 3rem;
}

.frivillig_billede {
  max-width: 100%;
  padding-top: 3rem;
}

/*--------------------DESKTOPVERSION-------------------*/

@media (min-width: 1200px) {
  .content1-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
