/*---------------HEADER-------------------*/

.toggle_omos {
  color: var(--orange);
}

/*---------------HVAD ER UKIRKE?-------------------*/

h1 {
  font-size: 2rem;
}

.tern_header {
  max-width: 100%;
}
.intro_video {
  max-width: 100%;
}
.introduktion_indhold {
  background-color: white;
  box-shadow: 5px 5px 20px 1px grey;
  margin-inline: 0.5rem;
  padding: 2rem;
}

/*---------------MANIFEST-------------------*/

.container2-1 {
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  grid-template-rows: 3rem 3rem 1fr;
}

.container1 {
  background-color: white;
  box-shadow: 5px 3px 20px 1px grey;
  grid-column: 1/6;
  grid-row: 2/6;
  margin: 0.5rem;
}

.manifest_indhold1 {
  grid-column: 2;
  grid-row: 3/4;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.manifest_titel {
  grid-column: 1;
  grid-row: 3;
  place-self: start;
  margin-top: 6rem;
  writing-mode: sideways-lr;
  margin-left: 1.5rem;
}

.box1 {
  background-color: var(--blue);
  box-shadow: 5px 5px 20px 1px grey;
  grid-column: 2/3;
  grid-row: 1 / span 2;
  padding-top: 4rem;
  margin-bottom: -4rem;

  text-align: center;
  z-index: 1;
  color: white;
}

/*------------*/

.container2-2 {
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  grid-template-rows: 3rem 3rem 1fr;
}

.container2 {
  background-color: white;
  box-shadow: 5px 3px 20px 1px grey;
  grid-column: 1/6;
  grid-row: 2/6;
  margin: 0.5rem;
}

.manifest_indhold2 {
  grid-column: 2;
  grid-row: 3/4;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.manifest_titel2 {
  grid-column: 1;
  grid-row: 3;
  place-self: start;
  margin-top: 6rem;
  writing-mode: sideways-lr;
  margin-left: 1.5rem;
}

.box2 {
  background-color: #a27b54;
  box-shadow: 5px 5px 20px 1px grey;
  grid-column: 2/3;
  grid-row: 1 / span 2;
  padding-top: 4rem;
  margin-bottom: -4rem;

  text-align: center;
  z-index: 1;
  color: white;
}

/*------------*/

.container2-3 {
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  grid-template-rows: 3rem 3rem 1fr;
}

.container3 {
  background-color: white;
  box-shadow: 5px 3px 20px 1px grey;
  grid-column: 1/6;
  grid-row: 2/6;
  margin: 0.5rem;
}

.manifest_indhold3 {
  grid-column: 2;
  grid-row: 3/4;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.manifest_titel3 {
  grid-column: 1;
  grid-row: 3;
  place-self: start;
  margin-top: 6rem;
  writing-mode: sideways-lr;
  margin-left: 1.5rem;
}

.box3 {
  background-color: var(--green);
  box-shadow: 5px 5px 20px 1px grey;
  grid-column: 2/3;
  grid-row: 1 / span 2;
  padding-top: 4rem;
  margin-bottom: -4rem;

  text-align: center;
  z-index: 1;
  color: white;
}
/*------------*/

.container2-4 {
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  grid-template-rows: 3rem 3rem 1fr;
}

.container4 {
  background-color: white;
  box-shadow: 5px 3px 20px 1px grey;
  grid-column: 1/6;
  grid-row: 2/6;
  margin: 0.5rem;
}

.manifest_indhold4 {
  grid-column: 2;
  grid-row: 3/4;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.manifest_titel4 {
  grid-column: 1;
  grid-row: 3;
  place-self: start;
  margin-top: 6rem;
  writing-mode: sideways-lr;
  margin-left: 1.5rem;
}

.box4 {
  background-color: var(--orange);
  box-shadow: 5px 5px 20px 1px grey;
  grid-column: 2/3;
  grid-row: 1 / span 2;
  padding-top: 4rem;
  margin-bottom: -4rem;

  text-align: center;
  z-index: 1;
  color: white;
}
/*------------*/

.container2-5 {
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  grid-template-rows: 3rem 3rem 1fr;
}

.container5 {
  background-color: white;
  box-shadow: 5px 3px 20px 1px grey;
  grid-column: 1/6;
  grid-row: 2/6;
  margin: 0.5rem;
}

.manifest_indhold5 {
  grid-column: 2;
  grid-row: 3/4;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.manifest_titel5 {
  grid-column: 1;
  grid-row: 3;
  place-self: start;
  margin-top: 6rem;
  writing-mode: sideways-lr;
  margin-left: 1.5rem;
}

.box5 {
  background-color: #ce4e54;
  box-shadow: 5px 5px 20px 1px grey;
  grid-column: 2/3;
  grid-row: 1 / span 2;
  padding-top: 3rem;
  margin-bottom: -4rem;

  text-align: center;
  z-index: 1;
  color: white;
}

/*--------------------BLIV FRIVILLIG-------------------*/

.content3-grid {
  display: grid;
  grid-template-columns: 3rem 1fr 3rem;
  grid-template-rows: 1fr 1fr;
  background-color: #454c81;
  box-shadow: 5px 5px 20px 1px grey;
  color: white;
}

.frivillig_indhold {
  grid-column: 2;
  padding-block: 3rem;
  padding-top: 4rem;
}

.frivillig_billede {
  max-width: 100%;
  grid-column: 2;
  grid-row: 2;
}

.sammenhold_titel {
  grid-column: 3;
  grid-row: 2;
  place-self: start;
  writing-mode: sideways-rl;
  padding-left: 0.5rem;
}

.læs_mere_friv {
  grid-row: 2;
  grid-column: 2;
  place-self: end center;
  margin-bottom: 2rem;
  padding: 1rem;
  border: white solid 2px;
  font-weight: bold;
}

/*--------------------AKTIVITETER-------------------*/
.aktiviteter_indhold {
  background-color: #b3bf58;
  box-shadow: 5px 5px 20px 1px grey;
  color: white;

  padding: 3rem;
  margin-block: 3rem;
}

.læs_mere_aktiv {
  margin-bottom: 2rem;
  padding: 1rem;
  border: white solid 2px;
  font-weight: bold;
  margin-top: 2rem;
}

/*--------------------BLIV VIGET I UKIRKE-------------------*/
.vielse_indhold {
  background-color: #ebaf3d;
  box-shadow: 5px 5px 20px 1px grey;
  color: white;

  padding: 3rem;
  margin-block: 3rem;
}

.læs_mere_vielse {
  margin-bottom: 2rem;
  padding: 1rem;
  border: white solid 2px;
  font-weight: bold;
  margin-top: 2rem;
}

/*--------------------DESKTOPVERSION-------------------*/

@media (min-width: 1200px) {
  .content1-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
