html {
  background-image: url(/images/baggrund_galleri2.png);
  max-width: none;
  background-size: cover;
  background-repeat: repeat;
}
.galleri img {
  filter: drop-shadow(10px 10px 4px #2b2b2e);
}
.overskrift {
  display: flex;
  padding-block: 20px;
}

.galleri_titel {
  writing-mode: vertical-rl;
  margin: 0;
  font-size: 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
