html {
  background-image: url(/images/baggrund_galleri2.png);
  max-width: none;
  background-size: cover;
  background-repeat: repeat;
}

/* Mobile first */
.toggle_frivillig {
  color: orange;
}

li {
  list-style-type: circle;
}

.tern_header1 {
  margin-bottom: var(--space-s);
}
.tern_header2 {
  margin-top: -2rem;
  width: 70%;
  margin-bottom: var(--space-m);
}

.tekst_1 {
  background-color: white;
  box-shadow: 5px 5px 20px 1px grey;
  padding: 2rem;
  margin-bottom: var(--space-m);
  align-self: center;
  grid-column: span 2;
}

.grid_2 {
  display: grid;
}

.tekst_2 {
  background-color: white;
  box-shadow: 5px 5px 20px 1px grey;
  /* margin-inline: 0.5rem; */
  padding: 3rem 2rem 2rem;
  margin-bottom: var(--space-m);
  z-index: -1;
  margin-top: -2rem;
}

.to {
  background-color: var(--yellow);
  text-align: end;
  padding: 20px;
  width: 80%;
}

figure {
  margin-bottom: var(--space-s);
}

.green {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  background-color: var(--green);
  padding: 2rem 2rem 4rem;
}

.h2_green {
  grid-column: span 2;
  color: white;
  margin-bottom: 1rem;
}

.lilla {
  background-color: var(--lilla);
  color: white;
}
/* Desktop version */

@media (min-width: 800px) {
  img {
    width: 110%;
  }

  .tern_header {
    width: 50%;
  }
  .grid1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .kreativ_tekst {
    grid-column: 1 / 2;
  }

  .grid1 figure {
    grid-column: 4 / 5;
  }

  .to {
    width: 60%;
  }
  .tekst_2 {
    width: 70%;
  }
  .h2_green {
    text-align: center;
  }
}
