h1 {
  font-size: 5rem;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.grid1,
p {
  grid-column: 1 / 2;
}

.grid1,
figure {
  grid-column: 4 / 5;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.to {
  background-color: yellow;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  margin-block: 10px;
}

.grid2,
p {
  background-color: white;
}
